---
http_interactions:
- request:
    method: post
    uri: https://us-east-1.api.joyentcloud.com/my/analytics/instrumentations
    body:
      encoding: UTF-8
      string: '{"module":"syscall","stat":"syscalls"}'
    headers:
      Authorization: ''
      Content-Type:
      - application/json
      X-Api-Version:
      - "~7.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - 7.2.0
      Content-Type:
      - application/json
      Location:
      - "/<USERNAME>/analytics/instrumentations/256"
      Content-Md5:
      - vcSXwZ1T0mBEzB5VAzOrFg==
      Response-Time: ''
      X-Response-Time: ''
      Api-Version:
      - 7.2.0
    body:
      encoding: UTF-8
      string: '{"module":"syscall","stat":"syscalls","predicate":{},"decomposition":[],"value-dimension":1,"value-arity":"scalar","enabled":true,"retention-time":600,"idle-max":3600,"transformations":{},"nsources":0,"granularity":1,"persist-data":false,"crtime":1424000674378,"value-scope":"interval","id":"256","uris":[{"uri":"/<USERNAME>/analytics/instrumentations/256/value/raw","name":"value_raw"}]}'
  recorded_at: Sun, 15 Feb 2015 11:44:36 GMT
recorded_with: VCR 2.9.3
