---
http_interactions:
- request:
    method: get
    uri: https://us-east-1.api.joyentcloud.com/my/analytics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: ''
      Content-Type:
      - application/json
      X-Api-Version:
      - "~7.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - 7.2.0
      Content-Type:
      - application/json
      Content-Md5:
      - XITArtu6vj84zHPuBiuzNQ==
      Response-Time: ''
      X-Response-Time: ''
      Api-Version:
      - 7.2.0
    body:
      encoding: UTF-8
      string: '{"modules":{"apache":{"label":"Apache"},"cpu":{"label":"CPU"},"ldapjs":{"label":"ldapjs"},"memory":{"label":"Memory"},"mysql":{"label":"MySQL"},"syscall":{"label":"System
        calls"},"fs":{"label":"Filesystem"},"node":{"label":"Node.js 0.4.x"},"nic":{"label":"Network
        interface"},"vm":{"label":"Virtual Machine"},"tcp":{"label":"TCP"},"zfs":{"label":"ZFS"},"unix":{"label":"OS"}},"fields":{"zonename":{"label":"zone
        name","type":"string"},"pid":{"label":"process identifier","type":"string"},"execname":{"label":"application
        name","type":"string"},"psargs":{"label":"process arguments","type":"string"},"ppid":{"label":"parent
        process identifier","type":"string"},"pexecname":{"label":"parent application
        name","type":"string"},"ppsargs":{"label":"parent process arguments","type":"string"},"raddr":{"label":"remote
        IP address","type":"string"},"rport":{"label":"remote TCP port","type":"string"},"http_method":{"label":"method","type":"string"},"http_url":{"label":"URL","type":"string"},"http_path":{"label":"URL
        path","type":"string"},"latency":{"label":"latency","type":"time"},"subsecond":{"label":"subsecond
        offset","type":"subsecond"},"leavereason":{"label":"reason leaving CPU","type":"string"},"runtime":{"label":"time
        on CPU","type":"time"},"cpumode":{"label":"CPU mode","type":"string"},"optype":{"label":"operation
        type","type":"string"},"ldapbinddn":{"label":"bind DN","type":"string"},"ldaprequestdn":{"label":"request
        DN","type":"string"},"status":{"label":"status","type":"string"},"ldapfilter":{"label":"search
        filter","type":"string"},"ldapscope":{"label":"search scope","type":"string"},"user":{"label":"client
        username","type":"string"},"client":{"label":"client hostname","type":"string"},"command":{"label":"command","type":"string"},"cputime":{"label":"CPU
        time","type":"time"},"querysubstr":{"label":"query substring","type":"string"},"database":{"label":"database
        name","type":"string"},"parsed":{"label":"parsed","type":"string"},"statement":{"label":"statement
        type","type":"string"},"rowsmatched":{"label":"rows matched","type":"number"},"rowschanged":{"label":"rows
        changed","type":"number"},"table":{"label":"table name","type":"string"},"syscall":{"label":"syscall","type":"string"},"fstype":{"label":"filesystem
        type","type":"string"},"size":{"label":"size","type":"size"},"offset":{"label":"offset","type":"size"},"gctype":{"label":"GC
        type","type":"string"},"http_origin":{"label":"reported origin IP","type":"string"},"buffered":{"label":"bytes
        buffered on socket","type":"size"},"direction":{"label":"sent/received","type":"string"},"vmmmuctx":{"label":"VM
        MMU context","type":"string"},"errno":{"label":"error code","type":"string"},"zdataset":{"label":"ZFS
        dataset","type":"string"},"walltime":{"label":"process runtime","type":"time"},"rss":{"label":"resident
        set size","type":"size"},"contract":{"label":"contract identifier","type":"string"},"pmodel":{"label":"process
        model","type":"string"},"nthreads":{"label":"number of threads","type":"number"}},"types":{"string":{"name":"string","arity":"discrete","unit":""},"time":{"arity":"numeric","unit":"seconds","abbr":"s","base":10,"power":-9,"name":"time"},"subsecond":{"arity":"numeric","unit":"seconds","abbr":"s","base":10,"power":-3,"name":"subsecond"},"size":{"arity":"numeric","unit":"bytes","abbr":"B","base":2,"name":"size"},"number":{"arity":"numeric","name":"number","unit":""}},"metrics":[{"module":"apache","stat":"httpd_ops","label":"HTTP
        requests","interval":"interval","fields":["zonename","pid","execname","psargs","ppid","pexecname","ppsargs","raddr","rport","http_method","http_url","http_path","latency"],"unit":"requests"},{"module":"cpu","stat":"thread_samples","label":"thread
        samples","interval":"interval","fields":["zonename","pid","execname","psargs","ppid","pexecname","ppsargs","subsecond"],"unit":"samples"},{"module":"cpu","stat":"thread_executions","label":"thread
        executions","interval":"interval","fields":["zonename","pid",[...]
