---
http_interactions:
- request:
    method: get
    uri: https://us-east-1.api.joyentcloud.com/my/analytics/instrumentations/256/value/raw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: ''
      Content-Type:
      - application/json
      X-Api-Version:
      - "~7.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - 7.2.0
      Content-Type:
      - application/json
      Content-Md5:
      - TtwIFiY9AJO4E4K4fMPd2w==
      Response-Time: ''
      X-Response-Time: ''
      Api-Version:
      - 7.2.0
    body:
      encoding: UTF-8
      string: '{"value":0,"transformations":{},"start_time":1424000923,"duration":1,"end_time":1424000924,"nsources":1,"minreporting":1,"requested_start_time":1424000923,"requested_duration":1,"requested_end_time":1424000924}'
  recorded_at: Sun, 15 Feb 2015 11:48:46 GMT
recorded_with: VCR 2.9.3
