---
http_interactions:
- request:
    method: get
    uri: https://us-east-1.api.joyentcloud.com/my/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: ''
      Content-Type:
      - application/json
      X-Api-Version:
      - "~7.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - 7.2.0
      Content-Type:
      - application/json
      Content-Md5:
      - 7RNZEibVoopcVCZP10In9g==
      Response-Time: ''
      X-Response-Time: ''
      Api-Version:
      - 7.2.0
    body:
      encoding: UTF-8
      string: '[{"id":"f953e97e-4991-11e1-9ea4-27c6e7e8afda","name":"nodejs","version":"1.3.3","os":"smartos","requirements":{},"type":"smartmachine","description":"Node.js
        git-deploy PaaS dataset","files":[{"compression":"bzip2","sha1":"9eb5a49bd9f7fa6baa74905c2db4f649f7501ccd","size":285688305}],"published_at":"2012-02-14T03:54:01Z"},{"id":"e4cd7b9e-4330-11e1-81cf-3bb50a972bda","name":"centos-6","version":"1.0.1","os":"linux","requirements":{},"type":"virtualmachine","description":"CentOS
        6 64-bit image with just essential packages installed. Ideal for users who
        are comfortable with setting up their own environment and tools.","files":[{"compression":"bzip2","sha1":"79b374d14930a9449d5427118a6dcefacd073a26","size":662329985}],"tags":{"role":"os"},"published_at":"2012-02-15T20:04:18Z"},{"id":"01b2c898-945f-11e1-a523-af1afbe22822","name":"smartos","version":"1.6.3","os":"smartos","requirements":{},"type":"smartmachine","description":"Generic
        multi-purpose SmartMachine. This image is deprecated and will be replaced
        by the SmartOS Base image (base).","files":[{"compression":"bzip2","sha1":"97f20b32c2016782257176fb58a35e5044f05840","size":46271847}],"tags":{"role":"os"},"published_at":"2012-05-02T15:14:45Z"},{"id":"f9e4b[...]
