---
http_interactions:
- request:
    method: get
    uri: https://us-east-1.api.joyentcloud.com/my/images/f953e97e-4991-11e1-9ea4-27c6e7e8afda
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: ''
      Content-Type:
      - application/json
      X-Api-Version:
      - "~7.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - 7.2.0
      Content-Type:
      - application/json
      Content-Md5:
      - tXjajRbWvNPoqo25ry2Cpg==
      Response-Time: ''
      X-Response-Time: ''
      Api-Version:
      - 7.2.0
    body:
      encoding: UTF-8
      string: '{"id":"f953e97e-4991-11e1-9ea4-27c6e7e8afda","name":"nodejs","version":"1.3.3","os":"smartos","requirements":{},"type":"smartmachine","description":"Node.js
        git-deploy PaaS dataset","files":[{"compression":"bzip2","sha1":"9eb5a49bd9f7fa6baa74905c2db4f649f7501ccd","size":285688305}],"published_at":"2012-02-14T03:54:01Z"}'
  recorded_at: Sun, 15 Feb 2015 09:39:08 GMT
recorded_with: VCR 2.9.3
