---
http_interactions:
- request:
    method: get
    uri: https://us-east-1.api.joyentcloud.com/my/packages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: ''
      Content-Type:
      - application/json
      X-Api-Version:
      - "~7.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - 7.2.0
      Content-Type:
      - application/json
      Content-Md5:
      - ir1aPBPXlfB0WtvHVLONXQ==
      Response-Time: ''
      X-Response-Time: ''
      Api-Version:
      - 7.2.0
    body:
      encoding: UTF-8
      string: '[{"name":"g3-standard-8-smartos","memory":8192,"disk":807936,"swap":16384,"vcpus":0,"default":false,"id":"28d8c3f1-cf62-422a-a41d-fdf8b5110d00","version":"1.0.0","description":"Standard
        8 GB RAM 2 vCPUs and bursting 789 GB Disk","group":"Standard"},{"name":"g3-highio-30-kvm","memory":30720,"disk":737280,"swap":61440,"vcpus":4,"default":false,"id":"00747b85-e955-42c3-93b7-bf5cd6b3b82f","version":"1.0.0","description":"High
        I/O 30GB DRAM,  4vCPU  725 GB SSD","group":"High I/O"},{"name":"g3-highio-30-smartos","memory":30720,"disk":737280,"swap":61440,"vcpus":0,"default":false,"id":"58e0f906-ca40-4a09-9284-395f0465a36e","version":"1.0.0","description":"High
        I/O 30GB DRAM, 725GB SSD, 4vCPU bursting","group":"High I/O[...]
