---
http_interactions:
- request:
    method: get
    uri: https://us-east-1.api.joyentcloud.com/my/packages/28d8c3f1-cf62-422a-a41d-fdf8b5110d00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: ''
      Content-Type:
      - application/json
      X-Api-Version:
      - "~7.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - 7.2.0
      Content-Type:
      - application/json
      Content-Md5:
      - "+tETfdod/oAXBUdo7tuH/A=="
      Response-Time: ''
      X-Response-Time: ''
      Api-Version:
      - 7.2.0
    body:
      encoding: UTF-8
      string: '{"name":"g3-standard-8-smartos","memory":8192,"disk":807936,"swap":16384,"vcpus":0,"default":false,"id":"28d8c3f1-cf62-422a-a41d-fdf8b5110d00","version":"1.0.0","description":"Standard
        8 GB RAM 2 vCPUs and bursting 789 GB Disk","group":"Standard"}'
  recorded_at: Sun, 15 Feb 2015 09:47:13 GMT
recorded_with: VCR 2.9.3
