---
http_interactions:
- request:
    method: get
    uri: https://us-east-1.api.joyentcloud.com/my/datacenters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: ''
      Content-Type:
      - application/json
      X-Api-Version:
      - "~7.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Version:
      - 7.2.0
      Content-Type:
      - application/json
      Content-Md5:
      - 7z4h4j2rOPRXtPtT4l5zLg==
      Response-Time: ''
      X-Response-Time: ''
      Api-Version:
      - 7.2.0
    body:
      encoding: UTF-8
      string: '{"us-east-1":"https://us-east-1.api.joyentcloud.com","us-west-1":"https://us-west-1.api.joyentcloud.com","us-sw-1":"https://us-sw-1.api.joyentcloud.com","eu-ams-1":"https://eu-ams-1.api.joyentcloud.com","us-east-2":"https://us-east-2.api.joyentcloud.com","us-east-3":"https://us-east-3.api.joyentcloud.com"}'
  recorded_at: Sun, 15 Feb 2015 09:29:24 GMT
recorded_with: VCR 2.9.3
